*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav{
  position: absolute;
  top: 0;
  background: white;
  height: 55px;
  width: 100%

}

label.logo{
  font-family: "century gothic";
  color: black;
  font-size: 20px;
  line-height: 55px;
  padding: 0 80px;
  text-transform: uppercase;
}

.slsulogo {
  position: absolute;
  margin-top: 5px;
  margin-left: 15px;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 55px;
  margin: 0 10px;
}

nav ul li a{
font-family: "century gothic";
 color: black;
 font-size: 16px;
 padding: 10px 10px;
 border-radius: 0px;
 text-transform: uppercase;
}

a.active,a:hover{
 background: #C6C6C6;
 transition: .5s;
}

.cover{
  position: absolute;
  margin-top: 60px;
  margin-left: 0px;
  margin-right: 0px;
}

#box1{
  position: absolute;
  background: #EAEAEA;
  margin-top: 500px;
  margin-left: 300px;
  height: 400px;
  width: 600px;
}

#box2{
  position: absolute;
  background: #EAEAEA;
  margin-top: 500px;
  margin-left: 1000px;
  height: 400px;
  width: 600px;
}

.call{
  position: absolute;
  margin-top: 570px;
  margin-left: 560px;
  font-size: 60px;
}

.talk p{
  font-size: 20px;
  font-family: "century gothic";
  position: absolute;
  margin-top: 660px;
  margin-left: 530px;
}

.talk .info p{
  font-size: 15px;
  font-family: "century gothic";
  position: absolute;
  margin-top: 700px;
  margin-left: 460px;
}

.comment{
  position: absolute;
  margin-top: 530px;
  margin-left: 1260px;
  font-size: 80px;
}

.comm p{
  font-size: 20px;
  font-family: "century gothic";
  position: absolute;
  margin-top: 640px;
  margin-left: 1230px;
}

.comm .com p{
  font-size: 15px;
  font-family: "century gothic";
  position: absolute;
  margin-top: 700px;
  margin-left: 1130px;
}
