@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background: url(Picture3.png);
  background-size: cover;
}

p{
  font-weight: 300;
  color: #111;
}

.banner{
  position: relative;
  width: 100%
  min-height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .content{
  max-width: 900px;
  text-align: center;
    margin-top: 400px
}

.banner .content h2{
  font-size: 5em;
  color:white;
}

.banner .content p{
  font-size: 1em;
  color: white;
}

.btn{
  font-size: 1em;
  color: white;
  background: #5A0715;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}

.btn:hover{
  letter-spacing: 6px;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky{
  background: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

header .logo{
  color: maroon;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  margin-left: 50px;
  margin-top: 30px
}

header .navigation{
  position: absolute;
  display: flex;
  margin-left: 1380px;
  margin-top: 30px;
}

header .navigation li{
  list-style: none;
  margin-left: 30px;
}

header .navigation li a{
  text-decoration: none;
  color: white;
  font-weight: 400;
  letter-spacing: 2px;
  transition: 0.5s;
}

header .navigation li a:hover{
  letter-spacing: 6px;
}
